@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
span{
    color: rgb(33, 181, 115);
}
.container{
    width: 1265px;
    margin: 0 auto;
    /* margin-top: 35px; */
}
.primary-btn{
    width: 153px;
    height: 43px;
    border-radius: 33px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 181, 115);

}



.navbar-main-section{
    height: 576px;
    background-color: rgb(240, 255, 240);
}
.navbar-main{
    width: 1260px;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.navbar-main img{
    width: 198px;
    height: 59px;
}
.navbar-links ul{
    display: flex;
    gap: 45px;
    text-align: center;
    align-items: center;
}
.nav-btn{
    width: 104px;
    height: 43px;
    border-radius: 33px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 181, 115);
}
.banner-section{
    display: flex;
    justify-content: space-around;
}
.banner-section-content{
    margin-top: 55px;
}
#banner-ask{
    width: 208px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(253, 81, 26);
}
.banner-section-content h1{
    width: 405px;
    height: 140px;
    font-weight: 700;
    font-size: 48px;
    color: rgb(0, 0, 0);

}
.banner-section-content p{
    width: 503px;
    height: 70px;
    /* border: 1px solid red; */
    font-weight: 400;
    font-size: 16px;
    color: rgb(108, 107, 107);
}
.banner-image img{
    width: 554px;
    height: 346px;
}


.main-section{
    margin-top: 40px;
}
.main-section-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-section{
    width: 270px;
    height: 270px;
    padding: 50px 30px;
    border-radius: 13px;
    text-align: center;
    align-items: center;
    background-color: rgb(210, 250, 210);
}
.card-section img{
    width: 80px;
    height: 83px;
    margin-bottom: 20px;
}
#white-card{
    border-radius: 13px;
    box-shadow: 11px 12px 18px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}


.online-courses-section{
    line-height: 50px;
}
.online-courses-section h1{
    font-weight: 700;
    font-size: 36px;
    margin-top: 105px;
    text-align: center;
    color: rgb(65, 57, 96);
}
.online-courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.online-courses-card {
    width: 370px;
    height: 483px;
    margin-top: 90px;
    padding: 24px 20px;
    border-radius: 9px;
    box-shadow: 2px 11px 12px 19px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
    background-color: rgb(255, 255, 255);
}
.online-courses-card img{
    width: 331px;
    height: 234px;

}



@media screen and (max-width: 576px) {


    header{
        /* background-color: #000; */
    }
    .container{
        width: 451px;
    }
    .navbar-main-section{
        width: 441px;
        height: 900px;
        margin: 0 auto;
        background-color: rgb(240, 255, 240);
    }
    .navbar-main{
        width: 361px;
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column;
    }
    .navbar-links{
        display: none;
    }
    .navbar-main img{
        width: 108px;
        height: 59px;
    }
    .banner-section-content{
        width: 205px;
    }
    .banner-section-content p{
        width: 305px;
        height: 100px;
    }
    .banner-image img{
        width: 400px;
        height: 346px;
    }
    .main-section-container{
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 100px;
    }
    .online-courses-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 60px;
    }


}